body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #2196F3;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: yellow;
  }
  
  button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0D47A1;
  }
  
  p#resultado {
    font-size: 24px;
    margin-top: 20px;
  }